<nav class="bg-blue-400 flex justify-between items-center sticky top-0 p-2">
    <span class="font-bold">Pokemons</span>
    <ng-container *ngIf="user !== undefined" >
    <ul class="flex"><li class="px-4" >
  <a routerLink="/pokemons"> Pokemons</a>
  </li>

  <li class="px-4" >
  <a routerLink="/trainer">Trainers</a>

    </li>
    <li class="px-4" >
        <button (click)="handleLogout()">Log out</button>
      
          </li>
</ul>
</ng-container>

</nav>
