<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
<fieldset class="mb-3">
    <label for="username" class="block">Username</label>
        <input  type="text"
            ngModel
            #username="ngModel"
            name=""username id="username"
            class="border border-slate-300 p-2 rounded w-full"
            placeholder="johndoe"
        type="text" name="username" id="username" placeholder=""/>

</fieldset>
<button class="border border-slate-300 rounded-md p-2" type="submit">Login</button>
</form>