<li *ngIf="pokemon" class="pokemon-list-item">
    <section class="card">
        <section>
            <img [src]="pokemon.imgUrl" alt="Picture of a pokemon">
        </section>
        <section>
            <span class="pokemon-name">{{ pokemon.name }}</span>

            <app-pokemon-collected [pokemonId]="pokemon.id"></app-pokemon-collected>

        </section>
    </section>
</li>
