.pokemon-list-item{
    list-style: none;
}
.card{
    border: 1px solid black;
    width: fit-content;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
}
.pokemon-name{
    text-transform: capitalize;
}