<button class="border border-black rounded-lg flex justify-center items-center p-2 m-4"
    (click)="handlePokemonClick()">
    <div *ngIf="!isCollected">
        <img class="w-10" src="../../assets/pokeball.png"/>
    </div>
    <div *ngIf="isCollected">
        <img class="w-10" src="../../assets/pokeball_color.png"/>
    </div>
</button> 
